{% for location in locations %}
        
            <div class="card">
                <a class="" href="{{ path('show_location', {'id': location.id }) }}"><img src={{ asset("img/" ~ location.photoLocations[0].namePhoto )}} width="250" height="270" alt>{{ location}}</a>
                <div class="owner-edit">
                    By {{ location.ownerLocation.nameUser}}            {# Edit if you are the admin or the owner#}
                    {% if location.ownerLocation.id == app.user.id or is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('update_location', {'id': location.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
                <p>{{ location.priceLocation}} € / hour </p>
            
            </div>
       
{% endfor %}

<div class="pagination">
    {{ knp_pagination_render(locations) }}
</div>
