{% for location in locations %}
    <div class="shooting-myitem col-4">
 
        {# Informations du shooting (titre, prix, likes, comments, packages) #}
        
            <div>
                {# title #}
                <a class="" href="{{ path('show_location', {'id': location.id }) }}">{{ location}}</a>

            </div>
                <p> Offered by {{ location.ownerLocation.nameUser }}</p>
                <p>{{ location.priceLocation}} € / hour </p>
        
    
        {# Donner la possibilité d'éditer un shooting si on en est le propriétaire ou admin #}
        {% if location.ownerLocation.id == app.user.id or is_granted("ROLE_ADMIN") %}
        <div>
            <a href="{{ path('update_location', {'id': location.id}) }}"><i class="fa-solid fa-sliders"></i></a>
        </div>
        {% endif %}
    </div>
{% endfor %}

<div class="pagination">
    {{ knp_pagination_render(locations) }}
</div>
