{% extends 'base.html.twig' %}

{% block title %}WAS: Worth A Shot {% endblock %}

{% block body %}
    <div class="banner">
        <img src="{{asset('../img/cappadoce.webp')}}" alt="" srcset="">
        <h1 class='slogan'>Worth a Shot</h1>
    </div>
   
        <div class="tabs">
        <div class="tabs__body">
            <div class="tabs__content is-active">
                {{ form_start(formSearch) }}
                    <div class="searchField">
                        <div class="search-row-q">{{ form_row(formSearch.q, {'value': ''}) }}</div>
                        <div class="price-search-row">{{ form_row(formSearch.min, {'value': ''}) }}</div>
                        <div class="price-search-row"> {{ form_row(formSearch.max, {'value': ''}) }}</div>
                        <div class="search-row-country">{{ form_row(formSearch.countryLocation, {'value': ''}) }}</div>
                        <button type="submit" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                {{ form_end(formSearch) }}
            </div>

            <div class="tabs__content">
                {{ form_start(formSearchService) }}
                    <div class="searchField">
                        <div class="search-row-q">{{ form_row(formSearchService.q, {'value': ''}) }}</div>
                        <div class="price-search-row">{{ form_row(formSearchService.min, {'value': ''}) }}</div>
                        <div class="price-search-row"> {{ form_row(formSearchService.max, {'value': ''}) }}</div>
                        <div class="search-row-country">{{ form_row(formSearchService.countryService, {'value': ''}) }}</div>
                        <button type="submit" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                {{ form_end(formSearchService) }}
            </div>
        </div>
    </div>
    <section class="all-cards"> 
        {% include "home/_locations.html.twig" %}
        {% include "home/_services.html.twig" %}
    </section>    
 
{% endblock %}
