{% extends 'base.html.twig' %}

{% block title %}
    {% if isUpdate %}
        Add a photoshoot
    {% else %}
        Update photoshoot
    {% endif %}
{% endblock %}

{% block body %}
<div class="wrapper">
    {% if not service %}
       <h1>Add a photoshoot</h1> 
    {% else %}
        <h1>Update photoshoot</h1> 
    {% endif %}

    <div class="form">
        {{form(formService)}}

        {# check if the route is for modifying displays photos added previously #}
        {% if app.request.attributes.get('_route') == 'update_service' %}

            <strong>Edit portfolio</strong>

            {% for photoService in service.photoServices %}
                <div>
                    <img src="{{ asset('uploads/'~ photoService.namePhoto)}}" alt = "photo" width="300">
                    <a href="{{path('service_delete_photoService', {'id':photoService.id}) }}" class="btn btn-link" 
                    data-delete data-token="{{csrf_token('delete'~ photoService.id)}}"> <i class="fa-solid fa-trash"></i></a>
                </div>

            {% endfor %}
        {% endif %}

    </div>
 </div>
    {% endblock %}



{% block javascripts %}
    <script src="{{ asset('js/img.js') }}"></script>
{% endblock %}