{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
                <h1>Inbox({{ app.user.received|length }})</h1>
                <a href="{{path("sent")}}" class="btn">Sent messages</a>
                <a href="{{path("send")}}" class="btn">Send a message</a>

        <table class="table table-striped">
            <thead>
               <tr>
                  <th>From</th>
                  <th>Date</th>
                  <th>Message</th>
                  <th>Actions</th>
               </tr>
            </thead>
            <tbody>
                <tr>
                   	{% for message in app.user.received %}
				{% set bold = "" %}
				{% if message.isRead == 0 %}
					{% set bold = "fw-bold" %}
				{% endif %}

				<td>{{ message.sender.email }}</td>
				<td>{{ message.createdAt|date }}</td>
				<td><a href="{{ path("read", {id: message.id}) }}">{{ message.text }}</a></td>
				<td><a href="{{ path("delete", {id: message.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                 </tr>
			{% endfor %}
               
            </tbody>
        </table>

{% endblock %}
