{% extends 'base.html.twig' %}
{% block title %}Admin: Locations {% endblock %}
{% block body %}
<table class="table table-striped">
        <tr>
            <td>User</td>
            <td>Email</td>
            <td>Registered at</td>
            <td>Actions</td>
        </tr>
        {% for user in users %}
            <tr>
                <td>   
                    <div class="card-small" style="text-align:center">
                            {{user.firstName}}
                            <img src={{ asset("uploads/" ~ user.pictureUser )}} alt="user profile picture"/>
                    </div>
                </td>
                <td>  
                    {{user.email}}
                </td>
                <td>  
                    {{user.registerDate | date("d/m/Y")}}
                </td>
                <td>
                    <a href="{{path('admin_delete_user', {'id': user.id})}}">Delete account</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

