{% extends 'base.html.twig' %}
{% block title %}Admin: Photoshoots {% endblock %}

{% block body %}
    <h1>Photoshoots</h1>
<div class="all-cards">       
        {% for service in services %}   
                    <a href="{{ path('show_service', {'id': service.id }) }}">
                    <div class="card-and-desc-small">
                        <div class="card-small">
                            <img src={{ asset("img/" ~ service.photoServices[0].namePhoto )}} alt="photoshoot"/>
                        </div>
                        <h3 class="h3">
                            {{service.nameService}}
                            <br />
                            {{service.priceService}} $ per hour 
                            <a href="{{path('admin_update_service', {'id': service.id})}}"><i class="fa-solid fa-pencil"></i></a>
                            <a href="{{path('admin_delete_service', {'id': service.id})}}"><i class="fa-solid fa-trash"></i></a>
                        </h3>
                    </div>
                    </a>
        {% endfor %}
    </div>
{% endblock %}

