{% block title %}Admin: Locations {% endblock %}
{% block body %}
<table class="table table-striped">
        <tr>
            <td>Location</td>
            <td>Actions</td>
        </tr>
        {% for location in locations %}
            <tr>
                <td style="width:10%">   
                    <a href="{{ path('show_location', {'id': location.id }) }}">
                    <div class="card-and-desc" style="width: 10rem">
                        <div class="card" style="width: 10rem">
                            <img src={{ asset("img/" ~ location.photoLocations[0].namePhoto )}} alt="location" style="width: 7rem; height:7rem;"/>
                        </div>
                        <h3 class="h3">
                            {{location.nameLocation}}
                            <br />
                            {{location.priceLocation}} $ per hour
                        </h3>
                    </div>
                    </a>
                </td>
                <td>
                    <a href="{{path('admin_update_location', {'id': location.id})}}">Update</i></a>
                    <a href="{{path('admin_delete_location', {'id': location.id})}}">Delete</i></a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

