{% extends 'base.html.twig' %}
{% block title %}Admin: Locations {% endblock %}
{% block body %}
    <h1>Locations</h1>
<div class="all-cards">       
        {% for location in locations %}   
                    <a href="{{ path('show_location', {'id': location.id }) }}">
                    <div class="card-and-desc-small">
                        <div class="card-small">
                            <img src={{ asset("uploads/" ~ location.photoLocations[0].namePhoto )}} alt="location"/>
                        </div>
                        <h3 class="h3">
                            {{location.nameLocation}}
                            <br />
                            {{location.priceLocation}} $ per hour 
                            <a href="{{path('admin_update_location', {'id': location.id})}}"><i class="fa-solid fa-pencil"></i></a>
                            <a href="{{path('admin_delete_location', {'id': location.id})}}"><i class="fa-solid fa-trash"></i></a>
                        </h3>
                    </div>
                    </a>
        {% endfor %}
    </div>
{% endblock %}

