{% extends 'base.html.twig' %}

{% block title %}Update location{% endblock %}

{% block body %}
<h1>Modify location</h1>
  <div class="form">
{{form_start(formLocation)}}
<div style="display:none">{{ form_row(formLocation.photoLocation) }}</div>
{{form_end(formLocation)}}
{# check if the route is for modifying displays photos added previously #}
{% if app.request.attributes.get('_route') == 'admin_update_location' %}

    <strong>Edit Photos</strong>

    {% for photoLocation in location.photoLocations %}
        <div>
            <img src="{{ asset('uploads/'~ photoLocation.namePhoto)}}" alt = "location" width="300">
            <a href="{{path('location_delete_photoLocation', {'id':photoLocation.id}) }}" class="btn btn-link" 
            data-delete data-token="{{csrf_token('delete'~ photoLocation.id)}}"> Delete </a>
        </div>
    {% endfor %}
{% endif %}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/img.js') }}"></script>
{% endblock %}