{% extends 'base.html.twig' %}

{% block title %}Location info{% endblock %}

{% block body %}
    <div class="wrapper">
            <h1 class="page-title">{{location}}
                <div class="edit-delete">
                    {% if app.user.id == location.owner.id %}
                        <a href="{{path('update_location', {'id':location.id}) }}"><i class="fa-solid fa-pencil"></i></a> <br>
                        <a href="{{path('delete_location', {'id':location.id}) }}"><i class="fa-solid fa-trash"></i></a> 
                    {% endif %}
                </div> 
            </h1>
            


            <div class="all-cards">
                    {% for photoLocation in location.photoLocations %}
                        <div class="card">
                            <img src={{ asset("uploads/" ~ photoLocation.namePhoto )}} width="300" height="400" alt>
                        </div>
                    {% endfor %}
                </div>
        

                {# All information including comments #}
                <div class="post-info">
                <p>
                <strong>{{location.priceLocation}} $ / hour</strong> 
                </p>
                <p>
                <strong>{{location.cityLocation}}, {{location.countryLocation}}</strong> 
                </p>
                <p>
                    <img src={{ asset("uploads/" ~ location.owner.pictureUser )}} width="30" height="30" alt class="profile-picture">
                    <strong>{{location.owner}}</strong> <br>
                </p>
                <p> 
                {{location.description}}
                </p>
                
                <div class="post-comments">
                <h2>Reviews:</h2>
                {% for commentUserLocation in location.commentUserLocations %}
                   
                    {% if not commentUserLocation.commenter %}
                        <strong>Deleted account</strong>
                    {% else %}
                         <img src={{ asset("uploads/" ~ commentUserLocation.commenter.pictureUser )}} width="30" height="30" alt class="profile-picture">
                         <strong>{{commentUserLocation.commenter.firstName}}</strong>
                    {% endif %}
                    
                    {{commentUserLocation.dateComment | date('d-m-Y H:i')}} <br>
                    <div class="flex">
                        {{commentUserLocation.textComment}} <br>
                        {% if not commentUserLocation.commenter %}

                        {% elseif app.user and app.user.id == commentUserLocation.commenter.id %}
                            <a href="{{path('delete_comment', {'id':commentUserLocation.id}) }}"><i class="fa-solid fa-trash" style="margin-left:1em"></i> </a>
                        {% endif %}
                    </div>
                {% endfor %}
                {% if app.user %}
                    <strong>Add comment:</strong>
                        {{form_start(formCommentUserLocation)}}
                        {{form_row(formCommentUserLocation.text_comment)}}
                        {{form_row(formCommentUserLocation.Submit, {'attr': {'class': 'button-small'}})}}
                        {{form_end(formCommentUserLocation)}} <br>
                    <strong>Book this location:</strong>
                        {{form_start(formLocationBook)}}
                        {{form_row(formLocationBook.message)}}
                        {{form_row(formLocationBook.dateStart)}}
                        {{form_row(formLocationBook.dateEnd)}}
                        {{form_row(formLocationBook.Submit, {'attr': {'class': 'button-small'}})}}
                        {{form_end(formLocationBook)}} <br>
                {% endif %}

                
                </div>
            </div>
    </div>
{% endblock %}