{% extends 'base.html.twig' %}

{% block title %}Sent messages{% endblock %}

{% block body %}
                <div class="messages"> 
				<h2>Sent ({{ app.user.sent|length }}) </h2>	
             
                <h3><a href="{{path("app_message",{id: user.id})}}" class="btn">Inbox</a></h3>
                        
                <table class="table table-striped message-table">
                    <thead>
                    <tr>
                        <th>To</th>
                        <th>Date</th>
                        <th>Message</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                    {% for message in app.user.sent %}
                        {% set bold = "" %}
                        {% if message.isRead == 0 %}
                            {% set bold = "fw-bold" %}
                        {% endif %}

                        <td>{{ message.recipient.firstName }}</td>
                        <td>{{ message.createdAt|date }}</td>
                        <td><a href="{{ path("read", {id: message.id}) }}">{{ message.text }}</a></td>
                        <td><a href="{{ path("delete", {id: message.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
        </div>  
{% endblock %}