{% extends 'base.html.twig' %}

{% block title %}Edit my profile{% endblock %}

{% block body %}
        <div class="form">
			<h1>Profile info</h1>

            {{ form_start(registrationForm) }}  
			
            {{ form_row(registrationForm.first_name,{
                label: 'Name'
            }) }}
            {{ form_row(registrationForm.email) }}
        
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.picture_user, { attr: {novalidate: 'novalidate'}}, {
                label: 'Upload profile picture'
            }) }}

			<button type="submit" class="button-small">Save changes</button>

		    {{ form_end(registrationForm) }}

             <a href="{{path('delete_user', {'id':user.id}) }}"> Delete account </a> 
        </div>
{% endblock %}
