 <h2>Reservation requests from other users</h2>
    
        {% if is_granted('ROLE_HOST') %}
        <strong>Locations</strong>
        <table class="table">
        <thead>
            <th>Property:</th>
            <th>Booked by:</th>
            <th>From:</th>
            <th>To:</th>
            <th>Message:</th>

            <th colspan="2">Actions:</th>
        </thead>
        <tbody>
            {% for location in user.locations %}
                {% for locationBook in location.locationBooks %}
                    <tr>
                        <td>{{locationBook.location}} </td> 
                        <td><a href="{{path('show_user', {'id':locationBook.locationClient.id}) }}">{{locationBook.locationClient}} </a></td> 
                        <td>{{locationBook.dateStart | date('d-m-Y')}}</td> 
                        <td>{{locationBook.dateEnd | date('d-m-Y')}}</td> 
                        <td>{{locationBook.message}}</td> 
                        {% if locationBook.isAccepted == 0 %}
                            <td><a href="{{path('accept_location_book', {'id':locationBook.id}) }}">Accept</a></td> 
                            <td><a href="{{path('decline_location_book', {'id':locationBook.id}) }}">Decline</a></td>
                        {% elseif locationBook.isAccepted == 1 %}
                            <td>You accepted the request</td>
                        {% else %}
                            <td>You declined the request</td>
                        {% endif %}
                    </tr>   
                {% endfor %}
            {% endfor %}
        </tbody>
        </table>
     {% endif %}
    {% if is_granted('ROLE_PHOTOGRAPHER') %}
        <strong>Photoshoots</strong>

        <table class="table">
            <thead>
                <th>Photoshoot:</th>
                <th>Booked by:</th>
                <th>From:</th>
                <th>To:</th>
                <th>Message:</th>

                <th colspan="2">Actions:</th>
            </thead>
            <tbody>
                {% for service in user.services %}
                    {% for serviceBook in service.serviceBooks %}
                        <tr>
                            <td>{{serviceBook.service}} </td> 
                            <td><a href="{{path('show_user', {'id':serviceBook.serviceClient.id}) }}">{{serviceBook.serviceClient}} </a></td> 
                            <td>{{serviceBook.dateStart | date('d-m-Y')}}</td> 
                            <td>{{serviceBook.dateEnd | date('d-m-Y')}}</td> 
                            <td>{{serviceBook.message}}</td> 
                             {% if serviceBook.isAccepted == 0 %}
                            <td><a href="{{path('accept_service_book', {'id':serviceBook.id}) }}">Accept</a></td> 
                            <td><a href="{{path('decline_service_book', {'id':serviceBook.id}) }}">Decline</a></td>
                        {% elseif serviceBook.isAccepted == 1 %}
                            <td>You accepted the request</td>
                        {% else %}
                            <td>You declined the request</td>
                        {% endif %}
                        </tr>   
                    {% endfor %}
                {% endfor %}
            </tbody>
            </table>
        {% endif %}
    {% endif %}

 {# User can see their own reservation requests #}
        {% if is_granted('ROLE_USER') %}
            <h2>My reservations</h2>
    <strong>Locations</strong>
        <table class="table">
            <thead>
                <th>Location:</th>
                <th>Hosted by:</th>
                <th>From:</th>
                <th>To:</th>
                <th>Message:</th>
                <th>Status:</th>
            </thead>
            <tbody>
                {% for locationBook in user.locationBooks %}
                        <tr>
                            <td>{{locationBook.location}} </td> 
                            <td><a href="{{path('show_user', {'id':locationBook.location.ownerLocation.id}) }}">{{locationBook.location.ownerLocation}} </a></td> 
                            <td>{{locationBook.dateStart | date('d-m-Y')}}</td> 
                            <td>{{locationBook.dateEnd | date('d-m-Y')}}</td> 
                            <td>{{locationBook.message}}</td>  
                            {% if locationBook.isAccepted == 0 %}
                                 <td> Request pending </td> 
                            {% elseif locationBook.isAccepted == 1 %}
                                 <td> Request accepted </td>
                            {% else %}
                                 <td> Request declined </td>
                            {% endif %}
                        </tr>   
                    {% endfor %}
            </tbody>
            </table>


            <strong>Photoshoots</strong>
        <table class="table">
            <thead>
                <th>Photoshoot:</th>
                <th>Offered by:</th>
                <th>From:</th>
                <th>To:</th>
                <th>Message:</th>
                <th>Status:</th>
            </thead>
            <tbody>
                {% for serviceBook in user.serviceBooks %}
                        <tr>
                            <td>{{serviceBook.service}} </td> 
                            <td><a href="{{path('show_user', {'id':serviceBook.service.providerService.id}) }}">{{serviceBook.service.providerService}} </a></td> 
                            <td>{{serviceBook.dateStart | date('d-m-Y')}}</td> 
                            <td>{{serviceBook.dateEnd | date('d-m-Y')}}</td> 
                            <td>{{serviceBook.message}}</td> 
                            {% if serviceBook.isAccepted == 0 %}
                                 <td> Request pending </td> 
                            {% elseif serviceBook.isAccepted == 1 %}
                                 <td> Request accepted </td>
                            {% else %}
                                 <td> Request declined </td>
                            {% endif %}
                        </tr>   
                {% endfor %}
            </tbody>
            </table> <br>

        {% endif %}