{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class = "alert alert-success">{{ message }}</div>
    {% endfor %}


   <div class="profile-basic-info">
        <h1><img src={{ asset("img/" ~ user.pictureUser )}} class="profile-picture"> {{user}}</h1>
            {% if user.id == app.user.id %}
                {# link to edit user profile #}
                <a href="{{ path('edit_user', {id: app.user.id} )}}">
                <i class="fas fa-pencil-alt"></i></a>
            {% endif %}
    </div>
   
    {#********** My Locations ******************#}

       

        {% if user.locations | length != 0 %}
            <h2>My locations: </h2> 
            
              {% if is_granted('ROLE_HOST') %}
                <a class="button-small" href="{{path('add_location')}}">Add a new location</a>
            {%endif%}

        <div class="all-cards">
            {% for location in user.locations %}
                <div class="card-and-desc">
                    <div class="card">
                        <img src={{ asset("img/" ~ location.photoLocations[0].namePhoto )}} alt="location" />
                    </div>
                        <h3 class="h3">
                            {{location.nameLocation}}
                            {% if location.owner.id == app.user.id or is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('update_location', {'id': location.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a href="{{path('delete_location', {'id':location.id}) }}"><i class="fa-solid fa-trash"></i></a>
				            {% endif %}
                            <br />
                            {{location.priceLocation}} $ per hour
                            <a href="{{path("location_like", {'id': location.id})}}" class="btn btn-link js-like">
                                <span class="js-likes">{{location.likes | length }}</span>

                                {% if app.user and location.isLikedByUser(app.user) %}
                                    <i class="fa-solid fa-heart"></i>
                                {% else %}
                                    <i class="fa-regular fa-heart"></i>
                                {% endif %}
                            </a>
		                </h3>    
                  </div>  
                {% endfor %}
            </div>
        {% endif %}
   
 {#********** My Photoshoots ******************#}


        {% if user.services | length != 0 %}
            <h2>My photoshoots </h2>

            {% if is_granted('ROLE_PHOTOGRAPHER') %}
                <a class="button-small" href="{{path('add_service')}}">Add a new photoshoot</a>
            {%endif%}

        <div class="all-cards">
            {% for service in user.services %}
                <div class="card-and-desc">
                    <div class="card">
                        <img src={{ asset("img/" ~ service.photoServices[0].namePhoto )}} alt="photoshoot" />
                    </div>
                        <h3 class="h3">
                            {{service.nameService}}
                            {% if service.owner.id == app.user.id or is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('update_service', {'id': service.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a href="{{path('delete_service', {'id':service.id}) }}"><i class="fa-solid fa-trash"></i></a>
				            {% endif %}
                            <br />
                            {{service.priceService}} $ per hour
                            <a href="{{path("service_like", {'id': service.id})}}" class="btn btn-link js-like">
                                <span class="js-likes">{{service.likes | length }}</span>

                                {% if app.user and service.isLikedByUser(app.user) %}
                                    <i class="fa-solid fa-heart"></i>
                                {% else %}
                                    <i class="fa-regular fa-heart"></i>
                                {% endif %}
                            </a>
		                </h3>    
                  </div>  
                {% endfor %}
            </div>
        {% endif %}
        

 {#********** Reservation requests ******************#}

    {% if user.id == app.user.id %}
  
     <h2>Reservation requests:</h2>
    
        {% if user.locations | length != 0 %}
            <strong>Locations</strong>
            <table class="reservation-table">
            <thead>
                <th>User</th>
                <th>Booking</th>
                <th>From</th>
                <th>To</th>
                <th>Message</th>

                <th colspan="2">Actions:</th>
            </thead>
            <tbody> 
            {% for location in user.locations %}
                    {% for locationBook in location.locationBooks %}
                        <tr>
                            <td><a href="{{path('show_user', {'id':locationBook.locationClient.id}) }}">{{locationBook.locationClient}} </a></td>
                            <td>{{locationBook.location}} </td> 
                            <td>{{locationBook.dateStart | date('d-m-Y')}}</td> 
                            <td>{{locationBook.dateEnd | date('d-m-Y')}}</td> 
                            <td>{{locationBook.message}}</td> 
                            {% if locationBook.isAccepted == 0 %}
                                <td><a href="{{path('accept_location_book', {'id':locationBook.id}) }}">Accept</a></td> 
                                <td><a href="{{path('decline_location_book', {'id':locationBook.id}) }}">Decline</a></td>
                            {% elseif locationBook.isAccepted == 1 %}
                                <td>You accepted the request</td>
                            {% else %}
                                <td>You declined the request</td>
                            {% endif %}
                        </tr>   
                    {% endfor %}
                      
                       
                     
                {% endfor %}
            </tbody>
            </table>
    {% else %}
         <p>No reservation requests yet</p>
     {% endif %}

    {% if user.services | length != 0 %}
    
        <strong>Photoshoots</strong>

       <table class="reservation-table">
            <thead>
                <th>User</th>
                <th>Booking</th>
                <th>From</th>
                <th>To</th>
                <th>Message</th>

                <th colspan="2">Actions:</th>
            </thead>
            <tbody>
                {% for service in user.services %}
                    {% for serviceBook in service.serviceBooks %}
                        <tr>
                            <td><a href="{{path('show_user', {'id':serviceBook.serviceClient.id}) }}">{{serviceBook.serviceClient}} </a></td>
                            <td>{{serviceBook.service}} </td>  
                            <td>{{serviceBook.dateStart | date('d-m-Y')}}</td> 
                            <td>{{serviceBook.dateEnd | date('d-m-Y')}}</td> 
                            <td>{{serviceBook.message}}</td> 
                             {% if serviceBook.isAccepted == 0 %}
                            <td><a href="{{path('accept_service_book', {'id':serviceBook.id}) }}">Accept</a></td> 
                            <td><a href="{{path('decline_service_book', {'id':serviceBook.id}) }}">Decline</a></td>
                        {% elseif serviceBook.isAccepted == 1 %}
                            <td>You accepted the request</td>
                        {% else %}
                            <td>You declined the request</td>
                        {% endif %}
                        </tr>   
                    {% endfor %}
                  
                {% endfor %}
            </tbody>
            </table>
        {% endif %}
        {% else %}
             <p>No reservation requests yet</p>
    {% endif %} 



    {% endblock %} 